.git
.idea
.vscode

backend/target/classes
backend/target/generated-sources
backend/target/maven-archiver
backend/target/maven-status
backend/target/*.original
backend/target/*.jar
backend/uploads

frontend/dist
frontend/node_modules

.DS_Store
Thumbs.db
~

connect_database.sh

start-backend.bat
start-frontend.bat

start-backend.ps1
start-frontend.ps1

backend/src/main/resources/application.yml
backend/start.bat